﻿<div class="playlistsDetails">
    <div class="header">
        <nav class="navbar navbar-default navbar-static-top">
            <div class="navbar-left">
                <ul class="nav navbar-nav">
                    <li><a ng-href="#/songs">Songs</a></li>
                    <li class="active"><a ng-href="#/playlists">Playlists</a></li>
                </ul>
            </div>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input ng-model="query" type="text" class="form-control" placeholder="Search">
                </div>
                <a ng-href="#/playlists/search/{{ query }}" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</a>
            </form>
        </nav>
    </div>

    <div class="main">
        <div class="rows">
            <div class="col-md-4">
                <p>Playlist name:</p>
                <h1>{{ playlist.Name }}</h1>
                <p class="moveTop">Edit playlist name:</p>
                <h1><input ng-model="newName" type="text" class="form-control" placeholder="Name"></h1>
                <p class="moveTopLess"><center><a ng-click="save(playlist, newName);" class="btn btn-default">Save <span class="glyphicon glyphicon-floppy-disk"></span></a></center></p>
            </div>
            <div class="col-md-8">
                <p><center>Songs:</center></p>
                <table class="table">
                    <tr>
                        <td><b>Title</b></td>
                        <td><b>Artist</b></td>
                        <td></td>
                    </tr>
                    <tr ng-repeat="r in playlist.Songs">
                        <td>{{ r.Title }}</td>
                        <td>{{ r.Artist }}</td>
                        <td><center><a ng-click="remove(r.Title, r.ID, playlist.Name, playlist.ID)" class="btn btn-default">Remove <span class="glyphicon glyphicon-remove"></span></a></center></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
