﻿<div class="songsDetails">
    <div class="header">
        <nav class="navbar navbar-default navbar-static-top">
            <div class="navbar-left">
                <ul class="nav navbar-nav">
                    <li class="active"><a ng-href="#/songs">Songs</a></li>
                    <li><a ng-href="#/playlists">Playlists</a></li>
                </ul>
            </div>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input ng-model="query" type="text" class="form-control" placeholder="Search">
                </div>
                <a ng-href="#/songs/search/{{ query }}" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</a>
            </form>
        </nav>
    </div>

    <div class="main">
        <div class="rows">
            <div class="col-md-4">
                <p>Song title:</p>
                <h1>{{ song.Title }}</h1>
                <p class="moveTop">Edit title:</p>
                <h1><input ng-model="newTitle" type="text" class="form-control" placeholder="Title"></h1>
                <p class="moveTopLessRight"><a ng-click="save(song, newTitle, newArtist);" class="btn btn-default">Save <span class="glyphicon glyphicon-floppy-disk"></span></a></p>
            </div>
            <div class="col-md-4">
                <p>Artist name:</p>
                <h1>{{ song.Artist }}</h1>
                <p class="moveTop">Edit artist name:</p>
                <h1><input ng-model="newArtist" type="text" class="form-control" placeholder="Artist"></h1>
            </div>
            <div class="col-md-4">
                <p><center>Playlists:</center></p>
                <table class="table">
                    <tr>
                        <td><b>Name</b></td>
                    </tr>
                    <tr ng-repeat="r in playlists">
                        <td><input type="checkbox" ng-model="r.confirmed" ng-change="change(r.confirmed, r.ID, song.ID)"> {{ r.Name }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
