﻿<div class="songs">
    <div class="header">
        <nav class="navbar navbar-default navbar-static-top">
            <div class="navbar-left">
                <ul class="nav navbar-nav">
                    <li class="active"><a ng-href="#/songs">Songs</a></li>
                    <li><a ng-href="#/playlists">Playlists</a></li>
                </ul>
            </div>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input ng-model="query" type="text" class="form-control" placeholder="Search">
                </div>
                <a ng-href="#/songs/search/{{ query }}" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</a>
            </form>
        </nav>
    </div>

    <div class="main">
        <table class="table">
            <tr>
                <td><b>Title</b></td>
                <td><b>Artist</b></td>
                <td></td>
            </tr>
            <tr ng-repeat="r in songs">
                <td>{{ r.Title }}</td>
                <td>{{ r.Artist }}</td>
                <td><center><a ng-href="#/songs/details/{{ r.ID }}" class="btn btn-default">Details <span class="glyphicon glyphicon-info-sign"></span></a>
                    <a ng-click="delete(r.Title, r.ID)" class="btn btn-default">Delete <span class="glyphicon glyphicon-trash"></span></a></center></td>
            </tr>
            <tr>
                <td><input ng-model="newTitle" type="text" class="form-control" placeholder="Title"></td>
                <td><input ng-model="newArtist" type="text" class="form-control" placeholder="Artist"></td>
                <td><center><a ng-click="create(newTitle, newArtist);" class="btn btn-default">Create <span class="glyphicon glyphicon-plus"></span></a></center></td>
            </tr>
        </table>
    </div>
</div>
