﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title PlayerApp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="https://code.angularjs.org/1.3.15/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.3.15/angular-route.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
</head>
<body ng-app="myApp">
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/App/app.js"></script>

    <script src="~/App/controllers/songsController.js"></script>
    <script src="~/App/controllers/playlistsController.js"></script>
    <script src="~/App/controllers/songsDetailsController.js"></script>
    <script src="~/App/controllers/playlistsDetailsController.js"></script>

    <script src="~/App/services/songsService.js"></script>
    <script src="~/App/services/playlistsService.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>