﻿body {
    font-family:'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.header .navbar-left {
    margin-left: 25px;
}

.header .navbar-right {
    margin-right: 25px;
}

.main {
    font-size: 18px;
    margin-left: 25px;
    margin-right: 25px;
}

.moveTop {
    margin-top: 50px;
}

.moveTopLess {
    margin-top: 35px;
}

.moveTopLessRight {
    margin-top: 35px;
    text-align: right;
}

table {
    table-layout: fixed;
}

.table > thead > tr:first-child > td, 
.table > tbody > tr:first-child > td {
    border: none;
}